
html
{
	font-size:20px;
}
html,body
{
	height:100%;
	width:100%;
}
p.quote
{
	border-left:gray 4px solid;
	padding:10px 30px;
	margin-left:10px;
}

p.date
{
	font-family: 'Pacifico', cursive;
	color:blue;
	font-size:2rem;
	letter-spacing:5px;
}

body
{
	background-image:url("https://www.screenaustralia.gov.au/sacms/media/samedialibrary/screenguide/titles/tid33797-mountain/tid33797-web/tid33797-mountain-001-hero.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	font-family:'Karma', serif;
}
#title
{
	font-size:4rem;
	font-family:'Indie Flower',cursive;
	text-align:center;
	text-shadow:4px 4px #ff1111;
	font-weight:bold;
}
#footer
{
	font-size:2rem;
	font-family:'Indie Flower',cursive;
	text-align:center;
	text-shadow:2px 2px #ff1111;
}
p.fuck
{
	font-size:3rem;
	font-weight:bold;
}
h1
{
	font-size:1rem;
	background-color:rgba(120,120,120,0.4);
	width:50%;
	max-width:50rem;
	min-width:20rem;
	padding:1rem 2rem;
	margin:auto;
}
#img
{
	height:20rem;
	width:20rem;
}
a
{
	font-size:5rem;
}

